.portfolios {
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* position: absolute; */
  z-index: 99;
  height: 90vh;
  padding-top: 80px;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.colls {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  margin-top: 300px;
}
.colls-one h1 {
  font-family: Andika;
  font-size: 3.4em;
  margin-bottom: 10px;
}
.colls-two {
  display: flex;
  align-items: center;
  gap: 7px;
}
.colls-two p {
  font-family: Andika;

  color: white;
  font-size: 1.2em;
}
.str {
  margin-top: 5px;
  font-size: 0.7em;
}
.Panda {
  background-color: rgba(0, 17, 50, 0.984);
  background-repeat: no-repeat;
  background-size: cover;
}
.panda-one {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.panda-one h1 {
  color: white;
  font-family: Andika;
  font-size: 2.7em;
  margin-bottom: 15px;
}
.panda-one p {
  color: white;
  font-family: Andika;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.panda-two {
  background-image: url(../assets/pandas-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.multik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.multik-one h1 {
  color: white;
  font-family: Andika;
  font-size: 2.5em;
  margin-bottom: 15px;
}
.btn-imgs img {
  width: 250px;
  height: 140px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-imgs {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.faplay {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 100;
  margin-left: 100px;
  margin-top: -20px;
}
.faplay {
  font-size: 1.3em;
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 102, 0, 0.984);
  color: white;
  border-radius: 12px;
}
.btn-ones button {
  margin-right: 10px;
  padding: 5px;
  border: none;
  font-family: Andika;
  transition: 0.4s;
  border-radius: 12px;
}
.btn-ones {
  display: flex;
  align-items: center;
}

.btn-ones button:hover {
  background-color: rgba(6, 42, 114, 0.984);
  color: white;
}
.btn-link a {
  font-family: Andika;

  color: white;
  text-decoration: none;
}
.animation-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 21, 63, 0.984);
  /* width: 100%; */
  padding: 30px;
  border-radius: 12px;
  /* margin-right: 20px; */
}
/* .wkjebberwigitrhsdgeifge4grogtjiershiwoifbei */
.movie {
  font-size: 1.5em;
  color: white;
}
.animations {
  flex-wrap: wrap;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.multik-two {
  padding: 20px;
}
@media (max-width: 768px) {
  .animations {
    /* flex-wrap: wrap; */
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .animation-one {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 21, 63, 0.984);
    /* width: ; */
    padding: 15px;
    border-radius: 12px;
    /* margin-right: 20px; */
  }
}
