.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../assets/cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}

.footers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.boxs {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  background-color: rgba(16, 37, 79, 0.911);
  width: 100%;
  /* height: 80vh; */

  border-radius: 18px;
  padding: 80px;
  margin-top: 60px;
}
.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos-icons {
  gap: 10px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
}
.logos img {
  max-width: 130px;
  background: none;
}
.logos button {
  font-size: 1.4em;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.telegram {
  color: white;
  background-color: rgba(93, 156, 189, 0.8);
}
.facebook {
  color: white;
  background-color: rgba(24, 69, 218, 0.8);
}
.twitter {
  color: white;
  background-color: rgba(24, 150, 218, 0.8);
}
.youtube {
  color: white;
  background-color: rgba(218, 24, 24, 0.8);
}
.instagram {
  color: white;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}
.words-one {
  /* flex-wrap: wrap; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 100%; */
}
.words-one {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* margin-left: 50px; */
}
.largest {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.words-two {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* margin-left: 50px; */
}
.one h2 {
  font-size: 18px;
  font-family: Andika;

  color: white;
}
.two h2 {
  font-size: 18px;
  font-family: Andika;
  color: white;
  /* margin-bottom: 30px; */
}
.ones {
  display: flex;
  align-items: center;
}
.kub {
  font-size: 0.6em;
  color: white;
  margin-right: 16px;
}
.ones p {
  font-family: Andika;
  color: white;
  font-size: 1em;
  transition: 0.4s;
  cursor: pointer;
}
.ones p:hover {
  color: rgba(24, 150, 218, 0.8);
}
.twos {
  display: flex;
  align-items: center;
}
.kubs {
  font-size: 0.5em;
  color: white;
  margin-right: 16px;
}
.twos p {
  font-family: Andika;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}
.twos p:hover {
  color: rgba(24, 150, 218, 0.8);
}
.words-three {
  display: flex;
  flex-direction: column;
  /* margin-left: 70px; */
  /* margin-top: 20px; */
}
.three h2 {
  font-size: 18px;
  font-family: Andika;
  color: white;
  /* margin-bottom: 60px; */
}
.threes {
  display: flex;
  flex-direction: column;
}
.thres-one {
  font-family: Andika;
  color: white;
  margin-bottom: 10px;
}
.thres-two {
  display: flex;
  align-items: center;
  font-family: Andika;
  color: white;
  margin-bottom: 10px;
}
.thres-two span {
  color: rgb(66, 138, 192);
}
.thres-three {
  display: flex;
  align-items: center;
  font-family: Andika;
  color: white;
  margin-bottom: 10px;
}
.thres-three span {
  color: rgb(66, 138, 192);
}
.thres-four {
  display: flex;
  font-family: Andika;
  color: white;
  margin-bottom: 10px;
}
.thres-four span {
  color: rgb(66, 138, 192);
}
.end {
  padding: 40px;
  background-color: rgb(16, 37, 79);
}
.ends p {
  font-family: Andika;
  color: white !important;
}
.ends span {
  color: rgb(66, 138, 192);
}

@media (max-width: 768px) {
  .logos {
    width: 767px;
  }
  .largest {
    gap: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
