.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 2px 4px 0px #0000000e;
  background-color: rgb(16, 37, 79);
  transition: all 0.15s linear;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
@media (max-width: 368px) {
  .header {
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
}
.logo img {
  max-width: 100px;
  background: none;
  /* transform: scale(0); */
}
.all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sayt {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.sayt button {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 38, 110);
  cursor: pointer;
  transition: 0.4s;
  width: 25px;
  height: 25px;
}
.sayt button:hover {
  background-color: rgba(24, 150, 218, 0.8);
  color: aliceblue;
}

.words {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.4s;
}

.words a {
  font-size: 14px;
  font-family: Andika;
  color: white;
  text-decoration: none;
  padding-right: 20px;
  transition: 0.4s;
}
.words a:hover {
  color: rgba(78, 182, 238, 0.8);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 150px;
}

.menu-icon {
  color: white !important;
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all.active {
  display: block;
}

.sayt {
  display: flex;
  align-items: center;
}

.sayt button {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 38, 110);
  cursor: pointer;
  transition: 0.4s;
  width: 25px;
  height: 25px;
}

.words {
  display: flex;
  /* align-items: ; */
  justify-content: flex-end;
  text-align: right;
}

.words a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: color 0.3s;
  color: white;
}

.words a:hover {
  color: #007bff;
}
.sayt button:hover {
  background-color: rgba(24, 150, 218, 0.8);
  color: aliceblue;
}

@media (max-width: 768px) {
  .sayt button {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .all {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }

  .all.active {
    align-items: center;
    display: flex;
    background: rgb(16, 37, 79);
    top: 0;
  }

  .sayt {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .words {
    flex-direction: column;
    align-items: flex-start;
  }

  .words a {
    margin: 10px 0;
    color: white;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: white;
    margin-bottom: 10px;
  }

  .close-button svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .close-button {
    display: none;
  }
}
